{%load static%}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/templatestyle.css'%}">
</head>

<body>
<!-------------------------------- Navigation Bar div class="menu" -------------------------------->
<header>
    <div class="menu">
      <ul>
        <li class="logo"><a href="{% url 'home' %}"><img src="{% static 'media/logo_navigation.png' %}" style = "max-width: 100%;" alt ="TRANS-19"></a></li>

        <li class="dropdown">
          <a href="{% url 'patients' %}" class="dropbtn">Patients</a>
          <div class="dropdown-content">
            <a href="{% url 'addpatient' %}" >New Patient</a>
            <a href="{% url 'patients' %}" >View All Patients</a>
          </div>
        </li>

        <li class="dropdown">
          <a href="{% url 'locations' %}" class="dropbtn">Locations</a>
          <div class="dropdown-content">
            <a href="{% url 'addlocation' %}">New Location</a>
            <a href="{% url 'locations' %}" >View All Location</a>
          </div>
        </li>

        {% if user.is_epidemiologist == True %}
        <li class="dropdown">
          <a href="{% url 'searchconnection' %}">Search Connection</a>
        </li>
        {% endif %}

        <li class="dropdown" style="float:right; border-left: 1px solid white;  border-right: 0px solid white;  ">
          <a href="{% url 'locations' %}" class="dropbtn">Hi! <u>{{user.username}}</u></a>
          <div class="dropdown-content">
              <a href="#">Profile</a>
              <a href="{% url 'logout' %}">Logout</a>
          </div>
        </li>

      </ul>
    </div>
</header>
<!-------------------------------- Navigation Bar div class="menu" -------------------------------->
<!-------------------------------- FORM -------------------------------->
<p> Are you sure you want to delete </p>
{% for location in locations %}
<p>{{location.location_name}}</p>
{% endfor %}
<strong>WARNING: ALL VISITS ASSOCIATED WITH THESE LOCATIONS WILL ALSO BE DELETED</strong>
<form  method="post">
    {% csrf_token %}
    <button type="submit" name = "delete_entry">DELETE</button>
    <button type="submit" name = "cancel">CANCEL</button>
</form>
<!-------------------------------- FORM -------------------------------->

</body>
</html>
