{%load static%}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/templatestyle.css'%}">
</head>

<body>
<!-------------------------------- Navigation Bar div class="menu" -------------------------------->
<header>
    <div class="menu">
      <ul>
        <li class="logo"><a href="{% url 'home' %}"><img src="{% static 'media/logo_navigation.png' %}" style = "max-width: 100%;" alt ="TRANS-19"></a></li>

        <li class="dropdown">
          <a href="{% url 'patients' %}" class="dropbtn">Patients</a>
          <div class="dropdown-content">
            <a href="{% url 'addpatient' %}" >New Patient</a>
            <a href="{% url 'patients' %}" >View All Patients</a>
          </div>
        </li>

        <li class="dropdown">
          <a href="{% url 'locations' %}" class="dropbtn">Locations</a>
          <div class="dropdown-content">
            <a href="{% url 'addlocation' %}">New Location</a>
            <a href="{% url 'locations' %}" >View All Location</a>
          </div>
        </li>

        {% if user.is_epidemiologist == True %}
        <li class="dropdown">
          <a href="{% url 'searchconnection' %}">Search Connection</a>
        </li>
        {% endif %}

        <li class="dropdown" style="float:right; border-left: 1px solid white;  border-right: 0px solid white;  ">
          <a href="{% url 'locations' %}" class="dropbtn">Hi! <u>{{user.username}}</u></a>
          <div class="dropdown-content">
              <a href="#">Profile</a>
              <a href="{% url 'logout' %}">Logout</a>
          </div>
        </li>

      </ul>
    </div>
</header>
<!-------------------------------- Navigation Bar div class="menu" -------------------------------->

<!-------------------------------------------HEADING--------------------------------------------->
<div class="title">
  <h1 style="text-align:center">EDIT VISIT'S DETAILS OF {{ visit.patient.last_name }}, {{ visit.patient.first_name }} </h1>
</div>
<!-------------------------------------------HEADING--------------------------------------------->

<!--------------------------------------TABLE-------------------------------------->
  <table class="edittable">
    <tr>
      <th>Location</th>
      <th>Address</th>
      <th>X coordinate</th>
      <th>Y coordinate</th>
      <th>District</th>
      <th>Date from</th>
      <th>Date to</th>
      <th>Detail</th>
      <th>Category</th>
    </tr>
    <tr>
    <td>{{ visit.location.location_name }}</td>
    <td>{{ visit.location.address }}</td>
      <td>{{ visit.location.x_coord }}</td>
      <td>{{ visit.location.y_coord }}</td>
      <td>{{ visit.location.district_name }}</td>
      <td>{{ visit.date_from }} </td>
      <td>{{ visit.date_to }}</td>
      <td>{{ visit.detail }}</td>
      <td>{{ visit.category_name }}</td>
      </tr>
    </table>
<!--------------------------------------TABLE-------------------------------------->

<!----------------------------------------FORM---------------------------------------->
<div class="editform">
  <form method="POST" >
    {% csrf_token %}
    <p>
      {% for field in form %}
      <div class="field" style="margin: 3%;">
        <label for="{{ field.id_for_label }}" class="label" style="margin: 3%;">{{ field.label_tag }}</label>
        {{ field }}
      </div>
      {% endfor %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
    </p>
    <div class="lowbutton">
      <button class="button" type="submit">Save</button>
      <a href="{% url 'patient_visit' visit.patient.caseId %}" style="margin-top: 2%;" class="button">Cancel</a>
    </div>
  </form>
</div>
<!----------------------------------------FORM---------------------------------------->

</body>
</html>
