{%load static%}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head>

<body>
  <header>
  <div class="menu">
    <ul>
      <li><a href="#home">TRANS-19</a></li>

      <li class="dropdown">
        <a href="patients" class="dropbtn">Patients</a>
        <div class="dropdown-content">
          <a href="#">Create New</a>
          <a href="{% url 'patients' %}">View All</a>
        </div>
      </li>

      <li class="dropdown">
        <a href="locations" class="dropbtn">Locations</a>
        <div class="dropdown-content">
          <a href="#">Create New</a>
          <a href="{% url 'locations' %}">View All</a>
        </div>
      </li>


      <li class="dropdown" style="float:right;"><a href="#user">Hi! <u>User</u></a>
        <div class="dropdown-content">
          <a href="#">Logout</a>
        </div>
      </li>
    </ul>
  </div>
  </header>

  <table style="width:100%" align="center">
    <tr>
      <th>Location</th>
      <th>Address</th>
      <th>X coordinate</th>
      <th>Y coordinate</th>
      <th>District</th>
      <th>Date from</th>
      <th>Date to</th>
      <th>Detail</th>
      <th>Category</th>
    </tr>
    <tr>
    <td>{{ visit.location.location_name }}</td>
    <td>{{ visit.location.address }}</td>
      <td>{{ visit.location.x_coord }}</td>
      <td>{{ visit.location.y_coord }}</td>
      <td>{{ visit.location.district_name }}</td>
      <td>{{ visit.date_from }} </td>
      <td>{{ visit.date_to }}</td>
      <td>{{ visit.detail }}</td>
      <td>{{ visit.category_name }}</td>
      </tr>
    </table>

<form method="POST" >

{% csrf_token %}
{{ form.as_p }}

<button type="submit">Save</button>
</form>
<a href="{% url 'patient_visit' visit.patient.caseId %}" class = "button">Cancel</a>
