{%load static%}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head>

<body>
  <header>
  <div class="menu">
    <ul>
      <li><a href="#home">TRANS-19</a></li>

      <li class="dropdown">
        <a href="patients" class="dropbtn">Patients</a>
        <div class="dropdown-content">
          <a href="#">Create New</a>
          <a href="{% url 'patients' %}">View All</a>
        </div>
      </li>

      <li class="dropdown">
        <a href="locations" class="dropbtn">Locations</a>
        <div class="dropdown-content">
          <a href="#">Create New</a>
          <a href="{% url 'locations' %}">View All</a>
        </div>
      </li>


      <li class="dropdown" style="float:right;"><a href="#user">Hi! <u>User</u></a>
        <div class="dropdown-content">
          <a href="#">Logout</a>
        </div>
      </li>
    </ul>
  </div>
  </header>

  <h1> Editing patient {{patient.first_name}} {{patient.last_name}} </h1>

  <table>
    <tr>
      <th>Case Id</th>
      <th>Last name</th>
      <th>First name</th>
      <th>Identity document number</th>
      <th>Date of birth</th>
      <th>Confirmed date</th>
    </tr>
    <tr>
      <td>{{patient.caseId}}</td>
      <td>{{patient.last_name}}</td>
      <td>{{patient.first_name}}</td>
      <td>{{patient.Id_doc_num}}</td>
      <td>{{patient.date_of_birth}}</td>
      <td>{{patient.confirmed_date}}</td>
    </tr>
  </table>

<form method="POST" >

{% csrf_token %}
{{ form.as_p }}

<button type="submit">SUBMIT</button>
</form>
<a href="{% url 'patients' %}" class = "button">Cancel</a>
