{%load static%}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head> 

<body>    
  <header>
  <div class="menu">
    <ul>
      <li><a href="#home">TRANS-19</a></li>

      <li class="dropdown">
        <a href="patients" class="dropbtn">Patients</a>
        <div class="dropdown-content">
          <a href="#">Create New</a>
          <a href="patients">View All</a>
        </div>
      </li> 

      <li class="dropdown">
        <a href="locations" class="dropbtn">Locations</a>
        <div class="dropdown-content">
          <a href="#">Create New</a>
          <a href="locations">View All</a>
        </div>
      </li>

      <li class="dropdown">
        <a href="visits" class="dropbtn">Visits</a>
        <div class="dropdown-content">
          <a href="#">Create New</a>
        </div>
      </li>

      <li class="dropdown" style="float:right;"><a href="#user">Hi! <u>User</u></a> 
        <div class="dropdown-content">
          <a href="#">Logout</a>
        </div>
      </li>
    </ul>
  </div>
  </header>

<form method="POST" >

{% csrf_token %}
{{ form.as_p }}

<button type="submit"> Create </button>
</form>

<h1 style="text-align:center">View all Locations</h1>
<section>
  <table align="center">
      <tr>
        <th>Location</th>
        <th>Address</th>
        <th>X coordinate</th>
        <th>Y coordinate</th>
        <th>District</th>
      </tr>
      {% for location in location_list %}
      <tr>
        <td>{{ location.location_name }}</td>
        <td>{{ location.address }}</td>
        <td>{{ location.x_coord }} </td>
        <td>{{ location.y_coord }}</td>
        <td>{{ location.district_name }}</td>
      </tr>
      {% empty %}
      <tr><td colspan="5">No location information available.</td></tr>
      {% endfor %}
  </table>
</section>
</body> 
</html>
