{%load static%}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/templatestyle.css'%}">
</head>

<body>
<!-------------------------------- Navigation Bar div class="menu" -------------------------------->
<header>
    <div class="menu">
      <ul>
        <li class="logo"><a href="{% url 'home' %}"><img src="{% static 'media/logo_navigation.png' %}" style = "max-width: 100%;" alt ="TRANS-19"></a></li>

        <li class="dropdown">
          <a href="{% url 'patients' %}" class="dropbtn">Patients</a>
          <div class="dropdown-content">
            <a href="{% url 'addpatient' %}" >New Patient</a>
            <a href="{% url 'patients' %}" >View All Patients</a>
          </div>
        </li>

        <li class="dropdown">
          <a href="{% url 'locations' %}" class="dropbtn">Locations</a>
          <div class="dropdown-content">
            <a href="{% url 'addlocation' %}">New Location</a>
            <a href="{% url 'locations' %}" >View All Location</a>
          </div>
        </li>

        {% if user.is_epidemiologist == True %}
        <li class="dropdown">
          <a href="{% url 'searchconnection' %}">Search Connection</a>
        </li>
        {% endif %}

        <li class="dropdown" style="float:right; border-left: 1px solid white;  border-right: 0px solid white;  ">
          <a href="{% url 'locations' %}" class="dropbtn">Hi! <u>{{user.username}}</u></a>
          <div class="dropdown-content">
              <a href="#">Profile</a>
              <a href="{% url 'logout' %}">Logout</a>
          </div>
        </li>

      </ul>
    </div>
</header>
<!-------------------------------- Navigation Bar div class="menu" -------------------------------->

<!-------------------------------------------HEADING--------------------------------------------->
<div class="title">
  <h1 style="text-align:center">View All Locations</h1>
</div>
<!-------------------------------------------HEADING--------------------------------------------->

<!------------------------------------SORT and SEARCH BAR------------------------------------>
  <div class="sortsearch" style="float:right;">
    <select id="tableheading" class="tableheading"  onclick="searching()">
      <option value="5">Select</option>
      <option value="0">Location</option>
      <option value="1">Address</option>
      <option value="2">X coord</option>
      <option value="3">Y coord</option>
      <option value="4">District</option>
    </select>
    <input type="text" placeholder="Search.." name="search" class="searchbar" onkeyup="searching()" id="INPUT">
  </div>
<!------------------------------------SORT and SEARCH BAR------------------------------------>

<!--------------------------------------TABLE-------------------------------------->
<form  method="post">
  {% csrf_token %}
  <table style="margin-top: 7%; width: 90%;" id="TABLE">
    <tr>
      <th>Location <mark onclick="sorting(0)">⇅</mark></th>
      <th>Address <mark onclick="sorting(1)">⇅</mark></th>
      <th>X coord <mark onclick="sortingNum(2)">⇅</mark></th>
      <th>Y coord <mark onclick="sortingNum(3)">⇅</mark></th>
      <th>District <mark onclick="sorting(4)">⇅</mark></th>
      <th>Modify</th>
      <th><button type="submit" name = "delete_entry">DELETE</button></th>
    </tr>
    {% for location in location_list %}
    <tr>
      <td>{{ location.location_name }}</td>
      <td>{{ location.address }}</td>
      <td>{{ location.x_coord }} </td>
      <td>{{ location.y_coord }}</td>
      <td>{{ location.district_name }}</td>
      <td><a href="{% url 'editlocation' location.pk %}" class = "button">Edit</a></td>
      <td><input type="checkbox" name="location_to_be_deleted" value="{{location.pk}}"></td>
    </tr>

    {% empty %}
    <tr>
      <td colspan="7">No location information available.</td>
    </tr>
    {% endfor %}

  </table>
</form>
<!--------------------------------------TABLE-------------------------------------->

<!----------------------------------JAVASCRIPT-------------------------------------->
<script type="text/javascript" src="{% static 'js/function.js' %}"></script>
<!----------------------------------JAVASCRIPT-------------------------------------->

</body>
</html>
