<!--Just to show the query for the visits between the specified dates work -->
{%load static%}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/templatestyle.css'%}">
</head>
<body>
<!-------------------------------- Navigation Bar div class="menu" -------------------------------->
<header>
    <div class="menu">
      <ul>
        <li class="logo"><a href="{% url 'home' %}"><img src="{% static 'media/logo_navigation.png' %}" style = "max-width: 100%;" alt ="TRANS-19"></a></li>

        <li class="dropdown">
          <a href="{% url 'patients' %}" class="dropbtn">Patients</a>
          <div class="dropdown-content">
            <a href="{% url 'addpatient' %}" >New Patient</a>
            <a href="{% url 'patients' %}" >View All Patients</a>
          </div>
        </li>

        <li class="dropdown">
          <a href="{% url 'locations' %}" class="dropbtn">Locations</a>
          <div class="dropdown-content">
            <a href="{% url 'addlocation' %}">New Location</a>
            <a href="{% url 'locations' %}" >View All Location</a>
          </div>
        </li>

        {% if user.is_epidemiologist == True %}
        <li class="dropdown">
          <a href="{% url 'searchconnection' %}">Search Connection</a>
        </li>
        {% endif %}

        <li class="dropdown" style="float:right; border-left: 1px solid white;  border-right: 0px solid white;  ">
          <a href="{% url 'locations' %}" class="dropbtn">Hi! <u>{{user.username}}</u></a>
          <div class="dropdown-content">
              <a href="#">Profile</a>
              <a href="{% url 'logout' %}">Logout</a>
          </div>
        </li>

      </ul>
    </div>
</header>
<!-------------------------------- Navigation Bar div class="menu" -------------------------------->

<!-------------------------------------------HEADING---------------------------------------------->
<div class="title">
    <h1 style="text-align:center"> SEARCH CONNECTION </h1>
</div>
<!-------------------------------------------HEADING---------------------------------------------->

<!-------------------------------------------HEADING---------------------------------------------->
<div>
    <h2 style="text-align:center; margin-top: 2%;"> {{ sv_count }} visits were found in visit data of {{ patient.last_name }}, {{ patient.first_name }} </h2>
</div>
<!-------------------------------------------HEADING---------------------------------------------->


<!--------------------------------------TABLE-------------------------------------->
<table style="margin-top: 5%; width: 95%; position: relative;" id="table">
    <tr>
        <th>Case Id</th>
        <th>Last name</th>
        <th>First name</th>
        <th>Location</th>
        <th>Address</th>
        <th>Date from</th>
        <th>Date to</th>
        <th>Detail</th>
        <th>Category</th>
    </tr>
    <tr>
      <td rowspan="{{ sv_count }}">{{ patient.caseId }}</td>
      <td rowspan="{{ sv_count }}">{{ patient.last_name }} </td>
      <td rowspan="{{ sv_count }}">{{ patient.first_name }}</td>
    {% for visit in selected_visits %}
      <td>{{ visit.location.location_name }}</td>
      <td>{{ visit.location.address }}</td>
      <td>{{ visit.date_from|date:"Y-m-d" }}</td>
      <td>{{ visit.date_to|date:"Y-m-d" }}</td>
      <td>{{ visit.detail }}</td>
      <td>{{ visit.category_name }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6">No visiting information available.</td>
    </tr>
{% endfor %}
</table>
<div class="lowbutton" style="margin-top: 3vh;">
  <button class="button" id="openall">Expand All</button><button class="button" id="closeall">Collapse All</button>
</div>

<br>
<br>

{% for location in distinct_locations %}
<div class="container">
 <div class="header" style = "margin-bottom: 1%;"><span>{{ location.location_name }}</span></div>
    <div class="content">
        <table style="width: 95%;">
            <tr>
                <th>Case Id</th>
                <th>Last name</th>
                <th>First name</th>
                <th>Location</th>
                <th>Address</th>
                <th>Date from</th>
                <th>Date to</th>
                <th>Detail</th>
                <th>Category</th>
            </tr>
        {% for visit in connected_visits %}
        {% if location.location_name == visit.location.location_name %}
            <tr>
                <td>{{ visit.patient.caseId }}</td>
                <td>{{ visit.patient.last_name }} </td>
                <td>{{ visit.patient.first_name }}</td>
                <td>{{ visit.location.location_name }}</td>
                <td>{{ visit.location.address }}</td>
                <td>{{ visit.date_from|date:"Y-m-d" }}</td>
                <td>{{ visit.date_to|date:"Y-m-d" }}</td>
                <td>{{ visit.detail }}</td>
                <td>{{ visit.category_name }}</td>
            </tr>
        {% endif %}
            {% empty %}
            <tr>
                <td colspan="8">No visiting information available.</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endfor %}
<!--------------------------------------TABLE-------------------------------------->

<!----------------------------------JAVASCRIPT-------------------------------------->

<script type="text/javascript" src="{% static 'js/jr.js' %}"></script>
<script>
$(".header").click(function () {
    $header = $(this); //getting the next element
    $content = $header.next(); //open up the content needed - toggle the slide - if visible, slide up, if not slidedown.
    $content.slideToggle("fast", function () {

    });
});

$('#openall').click(function() {
    $header = $(".header");
    $content = $header.next();
    if ($content.is(':hidden'))
      $content.slideDown("fast");
});

$('#closeall').click(function() {
    $header = $(".header");
    $content = $header.next();
    if ($content.is(':visible'))
      $content.slideUp("fast");
});
</script>
<!----------------------------------JAVASCRIPT-------------------------------------->


</body>
</html>
