{%load static%}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head>

<body>    
  <header>
  <div class="menu">
    <ul>
      <li><a href="#home">TRANS-19</a></li>

      <li class="dropdown">
        <a href="patients" class="dropbtn">Patients</a>
        <div class="dropdown-content">
          <a href="#">Create New</a>
          <a href="patients">View All</a>
        </div>
      </li>

      <li class="dropdown">
        <a href="locations" class="dropbtn">Locations</a>
        <div class="dropdown-content">
          <a href="#">Create New</a>
          <a href="locations">View All</a>
        </div>
      </li>

      <li class="dropdown">
        <a href="visits" class="dropbtn">Visits</a>
        <div class="dropdown-content">
          <a href="#">Create New</a>
        </div>
      </li>

      <li class="dropdown" style="float:right;"><a href="#user">Hi! <u>User</u></a> 
        <div class="dropdown-content">
          <a href="#">Logout</a>
        </div>
      </li>
    </ul>
  </div>
  </header>

    <form method="POST">

      {% csrf_token %}
      {{ form.as_p }}
      
      <button type="submit"> Create </button>
    </form>

    <h1 style="text-align:center"> Visiting info of {{ patient.last_name }} {{ patient.first_name }}</h1>
  <table align="center">
    <tr>
      <th>Location</th>
      <th>Address</th>
      <th>X Coordinate</th>
      <th>Y Coordinate</th>
      <th>District</th>
      <th>Date from</th>
      <th>Date to</th>
      <th>Detail</th>
      <th>Category</th>
    </tr>
    {% for visit in visit_list %}
    <tr>
      <td>{{ visit.location.location_name }}</td>
      <td>{{ visit.location.address }}</td>
      <td>{{ visit.location.x_coord }}</td>
      <td>{{ visit.location.y_coord }}</td>
      <td>{{ visit.location.district_name }}</td>
      <td>{{ visit.date_from }}</td>
      <td>{{ visit.date_to }}</td>
      <td>{{ visit.detail }}</td>
      <td>{{ visit.category_name }}</td>
    {% empty %}
      <td colspan="9">No visiting information available.</td>
    </tr>
    {% endfor %}
</table>
  <div class="div">
    <a href="{% url 'patients'%}" class = "button button1"> Go back</a>
  </div>
</body>
</html>