{%load static%}
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/templatestyle.css'%}">
</head>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
  <!-------------------------------- Navigation Bar div class="menu" -------------------------------->
  <header>
      <div class="menu">
        <ul>
          <li class="logo"><a href="{% url 'home' %}"><img src="{% static 'media/logo_navigation.png' %}" style = "max-width: 100%;" alt ="TRANS-19"></a></li>
        </ul>
      </div>
  </header>
  <!-------------------------------- Navigation Bar div class="menu" -------------------------------->

    <div>
      <form class="form" style="padding: 50px 0; margin-top: 8%;" method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <p style="margin-bottom: 6vh;">Log in to your account:</p>
          <p class="loginp">Username</p>
          <div class="input"><input type="text" name="username" required="required" style="width: 12vw;"></div>
          <p class="loginp">Password</p>
          <div class="input"><input type="password" name="password" required="required" style="margin-bottom: 5vh;width: 12vw;"></div>
          <div class="lowbutton">
            <button class="button" type="submit">Login</button>
          </div>
          <div class="container">
            {% if form.errors %}
            <p class="loginp">*There's something wrong with what you entered!</p>
            {% endif %}

            {% if next %}
            <p>Hey, you can't access that page.</p>
            {% endif %}
          </div>

          <input type="hidden" name="next" value="{{ next }}">
      </form>
    </div>
</body>
</html>
